.board-details {
    background-color: white;
    min-height: 100vh;
    display: flex;

    .add-view-row-container{
        width: 100%;
        border: 1px solid transparent;
        box-shadow: 0 3px 4px -5px #484444;

        .add-view-btn{
            margin: 20px 0;
            background-color: #FFFFFF;
            color: #3c3d41;
            border-color: #e6e9ef ;

            &:hover {
                background-color: #e6e9ef;
                color: #3c3d41;
            }
            // &:visited, &:active, &:focus{
            //     color: #3c3d41;
            //     background-color: #e6e9ef;
            // }
        }
    }

    .btn-add-group {
        margin: 20px 0;
    }

    .details-wrapper {
        width: 100%;
        padding: 0 30px;
    }

    .board-title-input,
    .board-description-input {
        border: 1px dashed transparent;
        padding: 3px 7px 3px 0;
        background-color: inherit;
        color: $clr3;
        font-size: 17px;
    }

    .board-title-input {
        font-size: 25px;
    }

    .board-description-input {
        min-width: 400px;
    }

    .created-by {
        font-size: 15px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}