.user-profile-main-container {
    background-color: $clr5;
    
    .profile-container {
        width: 100%;
    }

    .top {
        background-color: $clr1;
        height: 35vh;
        border-top-left-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $clr2;
        padding: 0 30px;

        .el-avatar {
            height: 150px;
            width: 150px;
            font-size: 70px;
            line-height: 150px;
            margin-bottom: 20px;
            border: 3px solid $clr2;
        }
    }

    .bottom-guest {
        background-color: $clr4;
        color: $clr5;
        height: 65vh;
        flex-direction: column;
        font-size: 20px;
        font-weight: bold;

        > * {
            margin-bottom: 40px;
            
            &:first-child {
                font-size: 30px;
            }
        }

        .signup-btn {
            font-size: 15px;
            background-color: $clr5;
            color: $clr4;

            &:hover {
                background-color: $clr4;
                color: $clr5;
                border-color: $clr5;
            }
        }
    }

    .bottom {
        background-color: $clr4;
        height: 65vh;
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
        color: $clr5;

        h2 {
            color: black;
            font-weight: bolder;
        }

        .user-boards {
            width: fit-content;
        }

        .user-tasks {
            width: fit-content;
        }

        .user-details {
            width: fit-content;


            .el-icon-user-solid {
                color: black;
                margin-right: 5px;
                line-height: 30px;
            }
    
            .el-icon-message {
                color: black;
                margin-right: 5px;
                line-height: 30px;
            }
    
            h3 span {
                color: black;
                font-weight: bolder;
            }
        }

    }
}
