.header-component {
    left: 0;
    height: 100vh;
    background-color: $clr5;
    z-index: 2;

    .main-header {
        height: 100%;
        width: 4.0625rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        i {
            font-size: 20px;
            color: white;
        }

        .logo {
            width: 25px;
        }

        .header-avatar {
            cursor: pointer;
        }
    }

    .secondary-header {
        height: 100%;
        width: 3.125rem;
        -webkit-border-start: 1px solid hsla(0, 0%, 100%, 0.2);
        border-inline-start: 1px solid hsla(0, 0%, 100%, 0.2);
        align-items: center;
    }
}
