
.header-component {
    left: 0;
    height: 100vh;
    background-color:$clr3;
    z-index: 2;

    .main-header {
        height: 100%;
        width: 4.0625rem;
    }
    }

    .secondary-header {
        height: 100%;
        width: 3.125rem;
        -webkit-border-start: 1px solid hsla(0,0%,100%,.2);
        border-inline-start: 1px solid hsla(0,0%,100%,.2);
        align-items: center;
    }

