.board-list {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 60%;
    max-width: 100%;
    min-height: 60%;
    margin-left: auto;
    margin-right: auto;

    > * {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:hover {
            opacity: .9;
        }
    }

    > *:not(:last-child) {
        background: #ff416c;
        background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
        color: #fff;
    }
}