.charts-main-container {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: 1fr .5fr .5fr;
    gap: rem(50px);
    // max-width: 80%;
    // margin: rem(100px) auto;
    text-align: center;

    .status-chart-container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        
        .status-chart {
            width: 250px;
            height: 230px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .priority-chart-container {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        .priority-chart {
            width: 200px;
            height: 230px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .lower-chart-container {
        grid-column: 1 / 3;
        grid-row: 2 / 4;

        .time-chart {

        }
    }

}

.add-view-btn{
    margin: 15px 0;
    width: rem(92.17px);
    background-color: #fff;
    color: $clr3;
    border-color: $clr4;

    &:hover {
        color: unset;
        border-color: transparent;
        background-color: unset;
        background-color: $clr4;
    }
}