.charts-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 50%;
    margin: rem(100px) auto;
    grid-gap: rem(100px);
    text-align: center;

    .status-chart {
        grid-column: 1 / 2;
        grid-row: 1
    }

    .priority-chart {
        grid-column: 2 / 3;
        grid-row: 1
    }

    .lower-chart {
        grid-column: 1 / 3;
        grid-row: 2
    }

}

.add-view-btn{
    margin: 15px 0;
    width: rem(92.17px);
    background-color: #fff;
    color: $clr3;
    border-color: $clr4;

    &:hover {
        color: unset;
        border-color: transparent;
        background-color: unset;
        background-color: $clr4;
    }
}