.charts-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 50%;
    margin: rem(100px) auto;
    grid-gap: rem(100px);
    text-align: center;

    .status-chart {
        grid-column: 1 / 2;
        grid-row: 1
    }

    .priority-chart {
        grid-column: 2 / 3;
        grid-row: 1
    }

    .lower-chart {
        grid-column: 1 / 3;
        grid-row: 2
    }
}