.home-page-header {
    
    nav {
        display: flex;
        padding-top: 20px;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            width: 100%;
            font-family: FredokaOne, sans-serif;
            font-size: 30px;
        }

        > * {
            padding: 0 10px;
            font-size: 20px;
            color: #fff;
        }
        
        > *:not(:first-child) {
            &:hover {
                opacity: 0.6;
            }
        }

        img {
            width: 30px;
            margin-right: 10px;
        }
    }
}