.stopwatch {
  display: flex;
  cursor: default;
  margin-left: 10px;

  p{
    margin-bottom: 0px;
    margin-left: 5px;
  }

  .btn-stopwatch{
    font-size: rem(17px);
    cursor: pointer;

    &:hover{
      opacity: 0.7;
    }

   
  }
}