.task-preview{
    display: flex;
    // max-height: 34px;
    height: 35px;
    background-color: $clr2;
    margin-bottom: .0625rem;
    border-radius: 1px;
    border-right: 8px solid #e6e9ef;
    transition: background-color .3s;
    padding: 0 .625rem;
    color: $clr3;
    font-size: .8125rem;
    justify-content: space-between;

    .btns-hidden{
        opacity: 0;
    }

    
    .main-task {
        display: flex;
        justify-content: space-between;
        width: 350px;
        min-width: 200px;
        .task-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;
            cursor: pointer;
        }
        .el-icon-delete{
            margin-right: 5px;
        }
        & i{
            font-size: 10px;
        }
    }
    &:hover {
        background-color: #E6E9EF;

        .btns-hidden{
            opacity: 1;
        }
    }

    .members {
        display: flex;

    }
}