.task-preview {
    display: flex;
    height: 35px;
    background-color: $clr2;
    margin-bottom: 0.0625rem;
    margin-left: 1.5%;
    border-radius: 1px;
    border-right: 8px solid $clr4;
    transition: background-color 0.3s;
    padding: 0 0.625rem;
    color: $clr3;
    font-size: 0.8125rem;
    justify-content: space-between;

    .task-input-form input[type=text]{
        padding: rem(5px) rem(5px)
      }
    .task-input-form input[type=text]:focus {
        outline: 1px dashed black;
        padding: rem(5px) rem(5px)
      }

    .btn-chat {
        cursor: pointer;
    }

    &:hover {
        background-color: $clr4;

        .btns-hidden {
            opacity: 1;
        }
    }

    .members-container,
    .status-container,
    .date-picker-container,
    .priority-container
    {
        min-width: 9.375rem;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .stopwatch-container {
        background-color: #e5e5e5;
        min-width: 9.375rem;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .date-picker-container {
        min-width: 9.375rem;
        padding: 0 10px;
    }

    .members-container {
        padding: 0 10px;
        padding-top: 4px;
    }

    .status,
    .priority {
        width: 9.375rem;
        padding: 0 10px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .date-picker {
        width: 130px;
    }

    .task-left-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .remove-title-wrapper {
            width: 100%;

            form {
                width: 100%;
            }
        }
        .task-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;
            cursor: pointer;
            border: none;
            width: 100%;
            background-color: inherit;
        }
        .el-icon-delete {
            margin-right: 5px;
        }
        .el-icon-delete,
        .el-icon-edit {
            font-size: 11px;
        }
    }

    .task-right-container {
        min-width: 800px;
        display: flex;
        justify-content: space-between;
    }

    .members {
        display: flex;
        align-items: center;
        cursor: pointer;
        line-height: 1;
    }

    .status,
    .priority {
        color: #fff;
    }

    .btns-hidden {
        opacity: 0;
    }

    @include for-mobile-layout { 
        padding: 0;

        // .members-container,
        // .status-container,
        // .date-picker-container,
        // .priority-container {
        //     min-width: 7.375rem;
        // }

        // .status,
        // .priority {
        //     width: 7.375rem;
        // }

        .task-left-container {
            .task-title {
                width: 70vw;
            }
        }

        // .task-right-container {
        //     min-width: 600px;
        // }
    }
}
