.toy-list {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 50px;

	.toy-preview-container {
		background-color: #008e9b;
		width: 150px;
		height: 200px;
		border: 2px solid $clr3;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 10px;
		margin: 10px;
		text-align: center;
	}

	.btns > * {
		margin-left: 5px;
		margin-right: 5px;
	}
}
