.toy-filter {
	padding-top: 35px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> * {
		margin-bottom: 10px;
	}

	label {
		margin-right: 10px;

		&:not(:first-of-type) {
			margin-left: 8px;
		}
	}

	.name-input {
		// background: url(~@/assets/img/search.png) no-repeat scroll 7px 7px;
		// background-size: 10px;
		// padding-left: 30px;
		width: 320px;
	}

	.select {
		width: 120px;
	}
}
