.hamburger-main {
    position: absolute;
    left: 23%;
    top: 184%;
    flex-direction: column-reverse;
    height: 30vh;
    background-color: $clr2;
    width: 30%;
    transform: translateX(100%);
    box-shadow: none;
    z-index: 160;
    box-shadow: -4px 0px 15px 0px $clr5;

    transition: transform 0.8s, box-shadow 0.8s;

    .mobile-menu-prev {
        display: flex;
        flex-direction: column;
        background-color: $clr2;
        color: $clr3;
        width: max-content;
        
        .add-board-mobile {
            margin-top: 16px;
            cursor: pointer;

            .el-icon-circle-plus-outline {
                font-size: 18px;
                color: black;
                margin-bottom: 16px;
                margin-inline-start: 7px;
                margin-right: 10px;
            }

            &:hover {
                background-color: $clr4;
            }
        }

        .mobile-filters {
            cursor: pointer;

            img {
                width: 18px;
                display: block;
                margin-right: 0;
                margin-bottom: 16px;
                margin-inline-start: 7px;
                margin-right: 10px;
            }

            &:hover {
                background-color: $clr4;
            }
        }

        .mobile-board-search {
            .el-icon-search {
                font-size: 18px;
                color: $clr6;
                margin-bottom: 16px;
                padding-left: 0;
            }

            .el-input__inner {
                border: none;
            }
        }

        .mobile-change-board {
            color: $clr3;
            font-weight: bolder;
            border-top: 1px solid $clr4;
            margin-top: 10px;
            height: 20px;
        }

        .mobile-mini-board-prev {
            border-bottom: 1px solid $clr4;
            cursor: pointer;
            height: 30px;
            width: 100%;

            &:hover {
                background-color: $clr4;
            }
            .el-icon-caret-right {
                margin-top: 10px;
            }
        }
        .mobile-chosen-board {
            background-color: $clr2;
        }
    }
}
