@font-face {
    font-family: FredokaOne;
    src: url(~@/assets/fonts/FredokaOne/FredokaOne-Regular.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(~@/assets/fonts/Roboto/Roboto-Regular.ttf);
}